<div id="{{block.id}}" class="int-header {{block.class}}" style="background-image: url('{{block.alt_path}}/1000.jpg');">
	{{^isMobile}}
	<video id="{{block.id}}-video" loop {{#block.autoplay}}autoplay{{/block.autoplay}} poster="{{block.src}}&maxbitrate=1000&format=video/mp4&poster=1" preload="none">
		<source src="{{block.src}}&maxbitrate={{format}}&format=video/mp4" type="video/mp4">
		<source src="{{block.src}}&maxbitrate={{format}}&format=video/webm" type="video/webm">
	</video>
	{{/isMobile}}
	<div class="int-header__text-wrapper">
		{{#block.kicker}}<h3 class="int-text-shadow">{{.}}</h3>{{/block.kicker}}
		<h1 class="int-text-shadow">{{block.headline}}</h1>
		{{#block.copy}}<h3 class="int-text-shadow">{{.}}</h3>{{/block.copy}}
	</div>
	{{#block.credit}}<div class="int-header__credit hide-mobile"><div class="int-outer">{{.}}</div></div>{{/block.credit}}
</div>
{{#block.credit}}<div class="int-wrapper int-header__credit-mobile show-mobile"><div class="int-outer">{{.}}</div></div>{{/block.credit}}