<div class="int-inner int-pullbyline {{block.pullbyline}}">
	<div class="int-pullbyline__block">
		{{#config.sponsorship}}
		<div class="int-pullbyline__sponsorship">
			<div class="ad-slot--paid-for-badge__inner">
			Sponsored by:
			<a href="https://adclick.g.doubleclick.net/aclk%253Fsa%253DL%2526ai%253DBZiDs69HeVZeeJ6eP7gaYlaL4C7fTvqwHAAAAEAEg75TfITgAWOel4ZX4AWC7vq6D0AqyARVwcmV2aWV3Lmd1dG9vbHMuY28udWu6AQlnZnBfaW1hZ2XIAQnaAVZodHRwOi8vcHJldmlldy5ndXRvb2xzLmNvLnVrL3Nwb3J0L25nLWludGVyYWN0aXZlLzIwMTUvYXVnLzI1L2JpZy1wbGF5ZXJzLXNtYWxsLXRoaW5nc6kCWvHtmwv8uT7AAgLgAgDqAi4vNTk2NjYwNDcvdGhlZ3VhcmRpYW4uY29tL3Nwb3J0L2ludGVyYWN0aXZlL25n-AL30R6AAwGQA4wGmAOMBqgDAeAEAZAGAaAGH9gHAA%2526num%253D0%2526cid%253D5Gh4wka_qF_mvFOpdnkKHH--%2526sig%253DAOD64_2S9sCuSZ55asfUgMVmsIggQSE3gQ%2526client%253Dca-pub-4830087483992392%2526adurl%253Dhttp://rugby.heineken.com/" class="ad-slot--paid-for-badge__link">
			<img class="ad-slot--paid-for-badge__logo" src="https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKDTy4TENBABGAEyCLsVFeBzJ9Dy">
			</a>
			<a href="https://adclick.g.doubleclick.net/aclk%253Fsa%253DL%2526ai%253DBZiDs69HeVZeeJ6eP7gaYlaL4C7fTvqwHAAAAEAEg75TfITgAWOel4ZX4AWC7vq6D0AqyARVwcmV2aWV3Lmd1dG9vbHMuY28udWu6AQlnZnBfaW1hZ2XIAQnaAVZodHRwOi8vcHJldmlldy5ndXRvb2xzLmNvLnVrL3Nwb3J0L25nLWludGVyYWN0aXZlLzIwMTUvYXVnLzI1L2JpZy1wbGF5ZXJzLXNtYWxsLXRoaW5nc6kCWvHtmwv8uT7AAgLgAgDqAi4vNTk2NjYwNDcvdGhlZ3VhcmRpYW4uY29tL3Nwb3J0L2ludGVyYWN0aXZlL25n-AL30R6AAwGQA4wGmAOMBqgDAeAEAZAGAaAGH9gHAA%2526num%253D0%2526cid%253D5Gh4wka_qF_mvFOpdnkKHH--%2526sig%253DAOD64_2S9sCuSZ55asfUgMVmsIggQSE3gQ%2526client%253Dca-pub-4830087483992392%2526adurl%253Dhttp://www.theguardian.com/sponsored-content" class="ad-slot--paid-for-badge__help">About this content</a>
</div>
		</div>
		{{/config.sponsorship}}
		{{#block.byline_photos}}<img class="byline-pic" src="{{.}}">{{/block.byline_photos}}
		<div class="int-pullbyline__byline">
			{{#block.byline}}<span><a href="{{link}}">{{name}}</a></span>{{/block.byline}}
			<div class="int-pullbyline__shares show-until-desktop">
				<div class="share-buttons" id="int-share-buttons">
					<a href="https://www.facebook.com/sharer/sharer.php?u={{block.share_url}}/sfb" target="_blank" class="share-button share-button--facebook"></a>
					<a href="https://twitter.com/intent/tweet?text={{block.share_text}}&url={{block.share_url}}/stw" target="_blank" class="share-button share-button--twitter"></a>
					<a href="mailto:?subject={{block.share_text}}&body={{block.share_url}}/sbl" target="_blank" class="share-button share-button--email"></a>
				</div>
			</div>
		</div>
		<div class="int-pullbyline__date">
			{{block.date_published}}
		</div>
		<div class="int-pullbyline__shares hide-until-desktop">
			<div class="share-buttons" id="int-share-buttons">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{block.share_url}}/sfb" target="_blank" class="share-button share-button--facebook"></a>
				<a href="https://twitter.com/intent/tweet?text={{block.share_text}}&url={{block.share_url}}/stw" target="_blank" class="share-button share-button--twitter"></a>
				<a href="mailto:?subject={{block.share_text}}&body={{block.share_url}}/sbl" target="_blank" class="share-button share-button--email"></a>
			</div>
		</div>
	</div>
</div>