<div class="int-vertical-slideshow__toggle" id="toggle-{{block.wrapperRandomId}}"></div>
<div class="int-vertical-slideshow" id="{{block.wrapperRandomId}}">
	<div class="int-vertical-slideshow__container">
		{{#block.images}}
			<div class="int-vertical-slideshow__wrapper {{class}}">
				<div class="int-vertical-slideshow__image" style="background-image: url('{{src}}');" id="{{id}}"></div>
				{{#caption}}<div class="int-outer"><div class="int-vertical-slideshow__caption int-text-shadow">{{.}}<div class="int-swipe">Swipe to view more</div></div></div>{{/caption}}
			</div>
		{{/block.images}}
	</div>
	<div class="int-vertical-slideshow__arrow"></div>
	<div class="int-vertical-slideshow__progress">
		<div class="int-vertical-slideshow__progress-tick" id="tick-{{block.wrapperRandomId}}"></div>
	</div>
</div>
<div class="int-wrapper"></div>