<div class="int-vertical-slideshow" id="{{block.wrapperRandomId}}">
	{{#block.images}}
		<div class="int-vertical-slideshow__wrapper">
			<div class="int-vertical-slideshow__image {{class}}" style="background-image: url('{{src}}');" id="{{id}}"></div>
			{{#caption}}<div class="int-outer"><div class="int-vertical-slideshow__caption int-text-shadow">{{.}}</div></div>{{/caption}}
		</div>
	{{/block.images}}
	<div class="int-vertical-slideshow__arrow"></div>
	<div class="int-vertical-slideshow__progress">
		<div class="int-vertical-slideshow__progress-tick" id="tick-{{block.wrapperRandomId}}"></div>
	</div>
</div>
<div class="int-wrapper"></div>